
/*-----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    decoration: none;
    }
 /*-----------------
    Header
-----------------*/
header {
    background-color: #FF6900;
    height: 70px;
    
}
header .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 70px;
    vertical-align: middle;
    padding: 10px 0;
    font-size: 12px;
}


.img-logo{
    width:100px;
}

.header-icone{
    min-width: 20%;
    color: white;
    
    
}
header .col{
    min-width: 20%;
   
  
}
header a{
    padding-right: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
header i{
    padding-left: 5px;

}
/*-----------------
    fine header
-----------------*/
.container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

div.col-section{
    width: calc(100% /30px);
    margin: 10px;
 }
    


.immagine{
    
    height: 600px;
    width: 400px;
}

.cuore{
    position: absolute;
    bottom: 90%;
    right:71%;
    background-color: aliceblue;
    color:black;
    
    

}

.originale{
    text-decoration:line-through;
}
.for-sale{
position: absolute;
 top:80%;
  background-color: red;
  color: aliceblue;
}

.sostenibilità{
    position: absolute;
    top:80%;
    margin-left: 30px;
    background-color: green;
    color:aliceblue;

}

.info{
    color: black;
   decoration:none;
}

.sconto{
    color:red;
}
